<ion-header>
	<ion-navbar color="whatsapp">
		<ion-title>Mini-dash</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="chats-page-content">
	<button ion-button large round color="{{measure.status}}" *ngFor="let measure of measures | async" (click)="toggle[measure._id] = !toggle[measure._id]">
		<div [hidden]="toggle[measure._id]">
			<ion-icon name="{{measure.icon}}"></ion-icon>&nbsp;
			{{measure.name}}&nbsp;
			<ion-badge id="measure-badge">{{measure.value}}</ion-badge<ion-badge>
		</div>
		<div [hidden]="!toggle[measure._id]">
			<ion-icon name="{{measure.icon}}"></ion-icon>&nbsp;
			{{measure.name}}&nbsp;
			<ion-badge id="measure-badge">expanded</ion-badge<ion-badge>
		</div>
	</button>
	<div *ngFor="let measure of measures | async">
		<div [hidden]="!toggle[measure._id]">
			<hr/>
			<b>{{measure.name}}</b>
			<pre>{{measure.details}}</pre>
		</div>
	</div>
</ion-content>

<ion-footer>
   <!-- small-->
       <b>Legend:</b>
       <button ion-button small color="secondary">&nbsp;</button> Success
       <button ion-button small color="warning">&nbsp;</button> Warning
       <button ion-button small color="danger">&nbsp;</button> Error
       <button ion-button small color="primary">&nbsp;</button> Information
       <button ion-button small color="light">http://github.com/ddjohn/minidash</button> 
   <!-- /small -->
</ion-footer>
